:root {
    --primary-color: #000000;
    --secondary-color :#FFFFFF;
    --tertiary-grey-color: #bebebe;
    
}

html{
    height: 100vh;
    font-size: 14px;
    font-family: sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    height: 100%;
    margin: 0;
}

h1{
    font-size: 5rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
}


header,
footer {
    background-color: var(--tertiary-grey-color);
    color: var(--secondary-color);
    padding: 20px 48px;
    text-align: center;
}

main {
    flex-grow: 1;
}

.main-content {
    padding: 48px;
    width: 50%;
    background-color: var(--primary-color);
}

p {
    color: var(--secondary-color);
}

.footer-info {
    color: var(--secondary-color);
    font-size: 0.8rem;
}

h3{
    font-weight: 300;
    font-size: 1rem;
    font-family: serif;
}

